body{
  background-color: rgba(224, 241, 252, 0.975);
  color: rgb(57, 56, 56);
}
button{
  border: none;
  background-color: white;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.cross{
  position: absolute;
  width: 15px;
  top: 0;
  right: 0;
  border: none;
  background-color: rgb(244, 244, 244);
  font-size: 20px;
  cursor: pointer;
}
#formfilling{
  display: none;
  margin: 10px;
  height: 120px;
  overflow:auto;
}
#ocircle{
  border-radius: 50%;
}
#icircle{
  border-radius: 50%;
}
span{
  position: absolute;
  left:84%;
}
.widget{
  display: inline-block;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 200px;
  vertical-align: top;
  position: relative;
  overflow: auto;
}
.widget #right{
  width: 100px;
  display: inline-block;
  position: relative;
  top: 20px;
  right: 0;
  padding-left: 10px;
}
.widget #left{
  width: 100px;
  display: inline-block;
}
.widget #left #ocircle{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}
.widget #left #icircle{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 45px;
  background-color: white;
  border-radius: 50%;
}